/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//Mixins
@import "modular-scale";
@import "compass/css3/box-sizing";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/text/force-wrap";

//Imports
@import "compass/reset";
@import "variables";
@import "breakpoint";


/* =Base
-------------------------------------------------------------- */
html {
	font-size: $base-font-size;
	font-kerning: normal; // Set the default for kerning
	font-synthesis: none; // Don't allow the font to create sythetic bold/italic
	text-rendering: optimizeLegibility; // Improve kerning pairs. Caution: Webkit gets funny with this sometimes
	-webkit-font-smoothing: antialiased; // Improve (or in some cases screw with) safari's legibility somewhat

	// Stop iPhone/iPad from scaling text
	// Absolute measure here, as we're talking about devices, not screen size
	@media screen and (max-width: 769px) {  
		-webkit-text-size-adjust:none;
	}

}

body {
	font-size: 100%;
	background-color: $altBgr;
	color: $bodyText;
}

//Drop desktop elements
#cover {
	display:none;
}
#headerBg {
	display:none;
}

/// Overall
h2 {
	font-size:ms(1);
}
p {
	margin-bottom:1rem * $base-line-height;
}

#wrapper {
	background-color: $bodyBgr;
	left:0;
	padding: (3rem * $base-line-height) (2rem * $base-line-height) 0;
	transition:0.5s all ease-out;
	position:relative;
	z-index:2;
	width:100%;
}

#container {		
	width:100%;
	margin:0 auto;
	position:relative;
}

	#wrapper {
		padding: (3rem * $base-line-height) 0 0;
	}
	.top {
		width:100%;
		margin:0 auto;
		li:first-child {
			width:40%;
		}
		li {
			height:12rem * $base-line-height;
			width:60%;
			display: inline-block;
		}
	}
	.hentry {
		height:7rem * $base-line-height;
		border:0.5rem * $base-line-height solid $bodyBgr;
		display:inline-table;
		vertical-align: top;
		background-color:$altBgr;
		position:relative;
		img {
			min-width:100%;
			height:100%;
			position: absolute;
			background-color: rgb(255, 255, 255);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		overflow: hidden;
	}
	section {
		display: inline-block;
		vertical-align: top;
	}
	section.main {
		width:100%;
		.hentry {
			width:20%;
		}
		.column {
			height:14rem * $base-line-height;
			border:none;
			.subhentry {
				width:100% !important;
			}
		}
		.wide {
			width:40%;
		}
		.tall {
			height:14rem * $base-line-height;
		}
	}
	section.archive {
		width:80%;
		.hentry {
			width:25%;
			table-layout: fixed;
			&.spacer {
				display:none;
			}
			div {
				display: table-cell;
				vertical-align: middle;
				width:100%;
				text-align: center;
				h4 {
					display:inline-block;
					width:100%;
				}
				h5 {
					margin: 0.725rem auto 0;
					text-align: center;
					font-size: ms(-1);
					color: $bodyBgr;
					text-decoration: none;
					text-transform: uppercase;
					background-color: $primary;
					padding: 1px 3px;
					display: inline-block;
				}
			}
		}
		.options {
			display: inline-table;
		}
		&.stuck .options {
			margin-right: 15.9rem;
			top: 15.25rem;
			// margin-right: 10.5rem * $base-line-height;
			// top: 11rem * $base-line-height;
			position: fixed;
			right: 50%;
			width: 8.8rem; //(7rem * $base-line-height) - (0.5rem * $base-line-height);
			z-index: 2;
			background-color: $altBgr;
			border: none;
			height: 8.8rem; //(7rem * $base-line-height) - (0.5rem * $base-line-height);
		}
		&.stuck .spacer {
			display:inline-table;
		}
	}
	section.popular {
		width:7rem * $base-line-height;
		float:right;
		.hentry {
			width:100%;
			position:relative;
			display: inline-block;
			div {
				height:100%;
				vertical-align: middle;
				width:100%;
				text-align: center;
				h4 {
					display:inline-block;
				}
				h5 {
					margin: 0.725rem auto 0;
					text-align: center;
					font-size: ms(-1);
					color: $bodyBgr;
					text-decoration: none;
					text-transform: uppercase;
					background-color: $primary;
					padding: 1px 3px;
					display: inline-block;
				}
			}
		}
		&.stuck {
			overflow: auto;
			left: 50%;
			position: fixed;
			margin-left:10.5rem * $base-line-height;
			bottom: 0;
			top: 3rem * $base-line-height;
		}
		.options {
			display: inline-table;
			h3 {
				display:table-cell;
				vertical-align: middle;
				margin:0;
			}
		}
	}
		.options {
			text-align: center;
			font-size:ms(-1);
			background-color: $altBgr;
			h3 {
				font-size:$base-font-size;
				font-weight:bold;
				text-transform: uppercase;
				text-align:center;
				margin: 2.9rem 0 0.725rem;
			}
			a {
				color: $bodyBgr;
				text-decoration: none;
				text-transform: uppercase;
				background-color: $primary;
				padding: 1px 3px;
			}
		}
		.tall .options {
			vertical-align: middle;
			display: table-cell;
			h3 {
				margin-top:0;
			}
		}
		.hentry img {
			position:absolute;
			background-color:#ffffff;
			top:0;
			left:0;
			right:0;
			bottom:0;
			transition:all 0.25s ease-in;
			&:hover {
				opacity:0;
			}
		}
		.table-box {
			display:inline-table;
		}
		.table-cell {
			display:table-cell;
		}

body.single {
	#content {
		margin: 0;
		display:block;
	}
	header.title {
		padding-bottom: ms(2);
		text-align: center;
		text-transform: uppercase;
		.post-edit-link {
			font-weight:400;
			text-decoration: none;	
		}
		.entry-title {
			padding: ms(1) 0 0;
		}
	}
	//Next three are a bit hacky - hides top and bottom of Disqus comments
	article {
		background-color:$bodyBgr;
		z-index:2;
		margin:0 auto;
		width: 19rem * $base-line-height;
		padding: 0 (0.5rem * $base-line-height) 2rem * $base-line-height;
		display: block;
		border: none;
		height: auto;
		overflow:visible;
		.entry-footer {
			width: 25%;
			line-height:$base-line-height;
			font-size: ms(-1);
			text-align: left;
			display:none; 
			position: absolute;
			left: 100%;
			top:0;
			overflow: hidden;
			margin:(1rem * $base-line-height) 0 0 (1rem * $base-line-height);
			img {
				height: 3rem * $base-line-height;
			}
		}
		img {
			position:relative;
			&:hover {
				opacity:1;
			}
		}
	}
	#disqus_thread {
		margin: 0 auto -70px;
		position: relative;
		z-index: 1;
		width: 19rem * $base-line-height;
	}
	// Error sometimes throws duplicate comments 
	#dsq-content {
		display: none;
	}
	.entry-content {
		position:relative;
	}
	section.home {
		padding-top: 2rem * $base-line-height;
		position:relative;
		background-color:$bodyBgr;
		z-index:2;
		margin-top: -50px;	
	}
}
#post-audio {
	width:100%;
	font-size:ms(-1);
	i {
		padding-right:0.5rem * $base-line-height;
	}
	a {
		text-decoration: none;
	}
}

.subhentry.set {
	width:100%;
	height:100%;
	border:none;
	height: 10.15rem;
	display: inline-table;
	position: relative;
	overflow: hidden;
}

#header { 
	transition:0.3s color linear, 0.3s height ease-in, 0.3s width ease-in;
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	right:0;
	margin-bottom:1rem * $base-line-height;
	overflow:hidden;
	font-family: $header-font-stack;
	height:3rem * $base-line-height;
	a {
		color: inherit;
		text-decoration: none;
	}
	.navigation {
		height:1rem * $base-line-height;
		width:0px;
		color:inherit;
		font-family:$header-font-stack;
		display:inline-block;
		vertical-align: middle;
		position:relative;
		overflow:hidden;
		transition:0.6s width linear, 0.6s opacity linear;
		ul {
			display:inline-block;
			height:100%;
			float: right;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			transition:opacity 0.6s linear;
			opacity:0;
			li {
				display: inline-block;
				text-align: right;
				margin-left:0.5rem * $base-line-height;
			}
		}
	}
	.title {
		height:3rem * $base-line-height;
		border: 1rem * $base-line-height solid transparent;
		background-color: $altBgr;
		li {
			display: inline-block;
		}
	}
	// Hide desktop header icons
	#player, .icon-cancel-circled, #header-search {
		display:none;
	}
	#navigation-button {
		float:right;
	}
	#search-button {
		float:left;
	}
}

.hovertext {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	position:Absolute;
	top:0;
	left:100%;
	right:-100%;
	bottom:0;
	background-color:$bodyBgr;
	opacity:1;
	transition:1s all;
}

#footer {
	font-size:ms(-1);
	line-height:$base-line-height;
	text-align:center;
	margin:(1rem * $base-line-height) 0 0;
	padding-bottom:(1rem * $base-line-height);
}




// Text and content (likely will need to make most of this desktop only)
p strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
.entry-content img {
	margin-bottom:1rem * $base-line-height;
}
.wp-caption-text {
	text-transform:uppercase;
	font-weight:bold;
	font-size:ms(-1);
	margin-top:-1rem * $base-line-height;
	text-align:center;
}
.alignright {
	float: right;
	position: relative;
	margin: 0 (-0.5rem * $base-line-height) (1rem * $base-line-height) (1rem * $base-line-height);		
}
.floatleft + *, .floatleft + * {
	margin-top:-1rem * $base-line-height;
}
section .floatleft, div .floatleft {
	margin-top:1rem * $base-line-height;
}
.aligncenter, .aligncenter img{
	width:100%;
	height:auto;
}
.floatleft {
	position: relative;
	left: -100%;
	max-height: 100%;
	max-width: 50%;
}


.entry-content p a {
	background-color: $primary;
	color: $bodyBgr;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s;
	padding:2px 5px;
	&:hover {
		color: $primary;
		background-color: transparent;
		text-decoration: underline;	
	}
}

@media (max-width: 645px) {
	body.single #disqus_thread, body.single article.hentry {
		width:100%;
	}
	#cover {
		display:none;
	}
	.home { 
		section.main .hentry {
			width:50%;
			height:14rem * $base-line-height;
		}
		section.main .wide {
			width:50%;
		}
	}
	#header {
		text-align:center;
		ul li:first-child {
			width:100%;
		}
		ul li:nth-child(2){
			width:100%;
			margin-top: -1rem * $base-line-height;
		}
	}
}

@media (max-width: 525px) {
	.home {
		section {
			width:100%;
			display:table;
		}
		section.main .hentry {
			width:100%;	
			height:auto;
		}
		section.main .column {
			height:auto;
			&.header {
				display:table-header-group;
			}
			&.header > div {
				display: inline-table;
				width:100%;
				margin-top:1.45rem;
			}
			&.header > div a .hentry {
				margin-top:1.45rem;
			}
		}
		.options {
			display:table-header-group;
			background-color:transparent;
		}
		img {
			position:relative;
			min-width:initial !important;
			width: 62%;
			display:block;
			margin:0 auto;
		}
		h4 {
			display:block;
			width:100%;
		}
	} 
}	
// Search styles
.search-form {
	display: inline-block;
	overflow: hidden;
	position: relative;
	height: 1rem * $base-line-height;
	vertical-align: middle;z-index: 1;
	background-color: rgba(0, 0, 0, 0);
	margin-left: -1rem * $base-line-height;
	transition:0.6s width linear, 0.6s opacity linear;
}

.search-field {
	height: 100%;
	line-height: 1rem * $base-line-height;
	-webkit-appearance: none;
	padding: 0px;
	margin: 4px 0px 0px;
	border: none;
	background-color: transparent;
	color: inherit;
	padding-left: 1rem * $base-line-height;
	font-size:1rem;
	width: 1rem * $base-line-height;
	text-shadow:none;
	transition:0.6s width linear, 0.6s opacity linear;
}
.search-field:focus {
	width:20rem;
	border:none;
	outline:none;
}
.search-field::-webkit-input-placeholder {
   color: inherit;
}

.search-field:-moz-placeholder { /* Firefox 18- */
   color: inherit;  
}

.search-field::-moz-placeholder {  /* Firefox 19+ */
   color: inherit;  
}

.search-field:-ms-input-placeholder {  
   color: inherit;  
}

// Script Script
.lazy-load, .lazy-loaded {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}

.lazy-loaded { opacity: 1; }

#single-related {
	top:3rem * $base-line-height;
	bottom:0;
	width:100%;
	z-index:1;
	overflow:hidden;
	background-color: $altBgr;
	position:fixed;
	.header {
		color:grey;
		padding:(1rem * $base-line-height) 0;
		text-align: center;
		margin:0 auto;
		cursor:pointer;
		.related {
			color:$bodyText;
		}
	}
	.content {
		width:200%;
		margin-left:0;
		transition:0.5s margin;
		section {
			width:50%;
			display:inline-block;
		}
	}
	ul {
		display:table;
		padding:0 (0.5rem * $base-line-height);
	}
	li {
		width:100%;
		display:table-row;
		height: 3rem * $base-line-height;
		img {
			width: 2rem * $base-line-height;
			height: 2rem * $base-line-height;
			display:table-cell;
			vertical-align:top;
			margin-top:0.5rem * $base-line-height
		}
		div {
			display:table-cell;
			padding-left: 0.5rem * $base-line-height;
			vertical-align:middle;
		}
	}
	a {
		color:$bodyText;
		text-decoration: none;
	}
	&.free {
		position:relative;
		top:3rem * $base-line-height;
	}
	&.flip {
		.header {
			.related {
				color:grey;
			}
			.popular {
				color:$bodyText;
			}
		}
		.content {
			margin-left:-100%;
		}		
	}
}